<a href="https://colab.research.google.com/github/pamodaDilranga/SleepData_iOS_Ai/blob/main/SleepDataNewApproch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Pre-Processing**

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('/content/sleepdata.csv', sep=';')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Start             887 non-null    object
 1   End               887 non-null    object
 2   Sleep quality     887 non-null    object
 3   Time in bed       887 non-null    object
 4   Wake up           246 non-null    object
 5   Sleep Notes       652 non-null    object
 6   Heart rate        162 non-null    float64
 7   Activity (steps)  887 non-null    int64
dtypes: float64(1), int64(1), object(6)
memory usage: 55.6+ KB

**Working With Sleep Quality Column**

In [9]:
data['Sleep quality'].unique()

array(['100%', '3%', '98%', '65%', '72%', '83%', '78%', '69%', '74%',
       '81%', '88%', '77%', '89%', '87%', '93%', '58%', '16%', '75%',
       '80%', '76%', '67%', '64%', '70%', '85%', '59%', '92%', '90%',
       '61%', '54%', '86%', '99%', '82%', '91%', '84%', '95%', '79%',
       '97%', '53%', '50%', '66%', '73%', '23%', '63%', '71%', '10%',
       '68%', '60%', '55%', '62%', '13%', '57%', '96%', '38%', '94%',
       '9%', '35%', '36%', '56%', '52%', '51%', '46%', '48%', '40%',
       '49%', '41%', '33%', '17%', '24%', '21%', '12%', '44%', '6%',
       '18%', '31%', '7%', '5%', '30%', '0%', '8%'], dtype=object)

In [10]:
type(data['Sleep quality'][5])

str

In [11]:
data['Sleep quality']=pd.Series(data['Sleep quality']).str.replace('%', '')

In [12]:
data['Sleep quality'] = pd.to_numeric(data['Sleep quality'], downcast='signed')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Start             887 non-null    object
 1   End               887 non-null    object
 2   Sleep quality     887 non-null    int8
 3   Time in bed       887 non-null    object
 4   Wake up           246 non-null    object
 5   Sleep Notes       652 non-null    object
 6   Heart rate        162 non-null    float64
 7   Activity (steps)  887 non-null    int64
dtypes: float64(1), int64(1), int8(1), object(5)
memory usage: 49.5+ KB

**Working With Time In Bed Column**

In [14]:
data['Time in bed'].unique()

array(['8:32', '0:16', '8:30', '7:32', '6:44', '7:12', '7:14', '7:18',
       '7:27', '7:35', '9:19', '7:16', '9:01', '8:50', '8:08', '9:11',
       '8:06', '7:13', '7:22', '6:51', '7:51', '1:13', '8:00', '8:02',
       '7:42', '7:37', '7:05', '8:03', '7:49', '7:07', '8:17', '7:36',
       '6:49', '7:04', '6:13', '6:45', '7:40', '7:00', '8:55', '5:54',
       '7:54', '9:29', '7:43', '7:50', '7:25', '8:01', '8:22', '8:07',
       '6:57', '8:53', '6:52', '7:01', '6:59', '7:39', '7:26', '9:00',
       '7:21', '7:46', '7:34', '5:03', '6:48', '7:03', '6:47', '7:28',
       '10:46', '7:41', '7:02', '6:38', '7:33', '7:47', '7:23', '6:56',
       '7:59', '5:25', '1:55', '7:19', '9:04', '7:48', '7:31', '6:20',
       '0:46', '9:31', '8:31', '8:14', '6:34', '9:06', '0:15', '7:38',
       '5:02', '8:58', '8:12', '7:30', '8:26', '8:04', '7:29', '6:46',
       '7:56', '8:20', '6:23', '8:47', '8:41', '6:16', '7:17', '6:40',
       '1:00', '8:27', '8:42', '7:44', '7:55', '6:55', '8:09', '7:11',
       '7:52', '8:46', '8:13', '6:50', '7:57', '6:54', '6:25', '6:09',
       '7:20', '8:37', '8:16', '8:33', '8:24', '9:15', '9:57', '8:23',
       '8:10', '7:15', '8:19', '8:35', '8:40', '5:30', '7:45', '8:51',
       '8:28', '6:28', '8:11', '8:44', '7:09', '7:58', '6:17', '6:53',
       '8:39', '9:30', '9:13', '8:54', '8:56', '9:47', '9:05', '6:30',
       '8:52', '8:59', '0:42', '7:53', '8:29', '6:36', '8:45', '9:16',
       '8:36', '6:39', '6:05', '9:58', '5:38', '6:58', '7:08', '9:35',
       '8:21', '5:10', '10:28', '9:09', '9:20', '6:21', '9:56', '6:33',
       '5:39', '6:01', '9:08', '8:05', '1:24', '9:23', '1:19', '2:08',
       '6:37', '8:15', '8:38', '1:42', '1:36', '7:10', '1:33', '0:55',
       '7:06', '0:57', '9:07', '6:27', '9:54', '6:35', '5:40', '0:27',
       '10:07', '8:18', '6:29', '1:40', '2:33', '0:34', '0:47', '6:43',
       '0:21', '8:49', '8:34', '9:17', '8:48', '8:25', '6:00', '5:01',
       '5:33', '8:43', '9:34', '9:27', '10:35', '10:08', '0:00', '9:48',
       '9:02', '10:01', '9:03', '5:23', '0:36'], dtype=object)

In [15]:
TimeInBed = []
for time in data['Time in bed']:
  minSec = time.split(':')
  timeInSec = (int(minSec[0])*60)+(int(minSec[1]))
  TimeInBed.append(timeInSec)

In [16]:
data['Time in bed'] = TimeInBed

In [17]:
data['Time in bed'].unique()

array([512,  16, 510, 452, 404, 432, 434, 438, 447, 455, 559, 436, 541,
       530, 488, 551, 486, 433, 442, 411, 471,  73, 480, 482, 462, 457,
       425, 483, 469, 427, 497, 456, 409, 424, 373, 405, 460, 420, 535,
       354, 474, 569, 463, 470, 445, 481, 502, 487, 417, 533, 412, 421,
       419, 459, 446, 540, 441, 466, 454, 303, 408, 423, 407, 448, 646,
       461, 422, 398, 453, 467, 443, 416, 479, 325, 115, 439, 544, 468,
       451, 380,  46, 571, 511, 494, 394, 546,  15, 458, 302, 538, 492,
       450, 506, 484, 449, 406, 476, 500, 383, 527, 521, 376, 437, 400,
        60, 507, 522, 464, 475, 415, 489, 431, 472, 526, 493, 410, 477,
       414, 385, 369, 440, 517, 496, 513, 504, 555, 597, 503, 490, 435,
       499, 515, 520, 330, 465, 531, 508, 388, 491, 524, 429, 478, 377,
       413, 519, 570, 553, 534, 536, 587, 545, 390, 532, 539,  42, 473,
       509, 396, 525, 556, 516, 399, 365, 598, 338, 418, 428, 575, 501,
       310, 628, 549, 560, 381, 596, 393, 339, 361, 548, 485,  84, 563,
        79, 128, 397, 495, 518, 102,  96, 430,  93,  55, 426,  57, 547,
       387, 594, 395, 340,  27, 607, 498, 389, 100, 153,  34,  47, 403,
        21, 529, 514, 557, 528, 505, 360, 301, 333, 523, 574, 567, 635,
       608,   0, 588, 542, 601, 543, 323,  36])

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Start             887 non-null    object
 1   End               887 non-null    object
 2   Sleep quality     887 non-null    int8
 3   Time in bed       887 non-null    int64
 4   Wake up           246 non-null    object
 5   Sleep Notes       652 non-null    object
 6   Heart rate        162 non-null    float64
 7   Activity (steps)  887 non-null    int64
dtypes: float64(1), int64(2), int8(1), object(4)
memory usage: 49.5+ KB

**Handling Data On Heart Rate Column**

In [19]:
import numpy as np
print(np.nansum(data['Heart rate']))
print(np.nanmin(data['Heart rate']))
print(np.nanmax(data['Heart rate']))
print(np.nansum(data['Heart rate'])/162)
data['Heart rate']=data['Heart rate'].fillna(np.nansum(data['Heart rate'])/162)

9818.0
49.0
98.0
60.60493827160494

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Start             887 non-null    object
 1   End               887 non-null    object
 2   Sleep quality     887 non-null    int8
 3   Time in bed       887 non-null    int64
 4   Wake up           246 non-null    object
 5   Sleep Notes       652 non-null    object
 6   Heart rate        887 non-null    float64
 7   Activity (steps)  887 non-null    int64
dtypes: float64(1), int64(2), int8(1), object(4)
memory usage: 49.5+ KB

**Data Processing Is Over**

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Start             887 non-null    object
 1   End               887 non-null    object
 2   Sleep quality     887 non-null    int8
 3   Time in bed       887 non-null    int64
 4   Wake up           246 non-null    object
 5   Sleep Notes       652 non-null    object
 6   Heart rate        887 non-null    float64
 7   Activity (steps)  887 non-null    int64
dtypes: float64(1), int64(2), int8(1), object(4)
memory usage: 49.5+ KB

In [22]:
data.drop('Start', inplace=True, axis=1)
data.drop('End', inplace=True, axis=1)
data.drop('Wake up', inplace=True, axis=1)
data.drop('Sleep Notes', inplace=True, axis=1)
data.drop('Heart rate', inplace=True, axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sleep quality     887 non-null    int8
 1   Time in bed       887 non-null    int64
 2   Activity (steps)  887 non-null    int64
dtypes: int64(2), int8(1)
memory usage: 14.9 KB

In [23]:
#@title Check Data Range
# print('Sleep quality', np.max(data['Sleep quality']), ' ', np.min(data['Sleep quality']))
# print('Time in bed', np.max(data['Time in bed']), ' ', np.min(data['Time in bed']))
# print('Wake up', np.max(data['Wake up']), ' ', np.min(data['Wake up']))
# print('Heart rate', np.max(data['Heart rate']), ' ', np.min(data['Heart rate']))
# print('Activity (steps)', np.max(data['Activity (steps)']), ' ', np.min(data['Activity (steps)']))
# # print('Stressful day', np.max(data['Stressful day']), ' ', np.min(data['Stressful day']))
# # print('Drank coffee', np.max(data['Drank coffee']), ' ', np.min(data['Drank coffee']))
# # print('Drank tea', np.max(data['Drank tea']), ' ', np.min(data['Drank tea']))
# # print('Ate late', np.max(data['Ate late']), ' ', np.min(data['Ate late']))
# # print('Worked out', np.max(data['Worked out']), ' ', np.min(data['Worked out']))
# print('Duration', np.max(data['Duration']), ' ', np.min(data['Duration']))

In [24]:
X = data.loc[:, data.columns != 'Sleep quality']
Y = data.loc[:, data.columns == 'Sleep quality']

In [25]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# sc = StandardScaler()
# X_train = sc.fit_transform(X)
# # X_train = X.to_numpy()
# Y_train = sc.fit_transform(Y)
# # Y_train = Y.to_numpy()
# # Y_train = (Y_train.flatten())

scaler = MinMaxScaler()
scaler.fit(X)
scaler.fit(Y)
X_train= scaler.transform(X)
Y_train= scaler.transform(Y)

In [26]:
X_train.shape

(887, 2)

In [27]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Flatten
from keras.optimizers import Adam, SGD

In [28]:
model = Sequential([
     Dense(units=64, activation='relu'),
    #  Dense(units=32, activation='relu'),
     Dense(units=1, activation='softmax')
])

model.compile(optimizer=SGD(learning_rate=0.0001),loss='binary_crossentropy', metrics=['accuracy'])

In [29]:
model.fit(x=X_train, y=Y_train, batch_size=10, epochs = 10, verbose=2, validation_split=0.3)

Epoch 1/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 2/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 3/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 4/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 5/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 6/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 7/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 8/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 9/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075
Epoch 10/10
62/62 - 0s - loss: 3.7688 - accuracy: 0.0177 - val_loss: 3.9665 - val_accuracy: 0.0075